---
import Layout from '../layouts/Layout.astro';
import PictureComponent from '../components/PictureComponent.astro';
import { Picture } from 'astro:assets';
import { Image }  from 'astro:assets';
import flipbook1 from '../img/flipbook-1.webp';
import flipbook2 from '../img/flipbook-2.webp';
import flipbook3 from '../img/flipbook-3.webp';
import flipbook4 from '../img/flipbook-4.webp';
import flipbook5 from '../img/flipbook-5.webp';
import mobileMask from '../img/mask-mobile.webp';
import mobile from '../img/mrc-mobile.webp';
import tablet from '../img/mask-tablet.webp';
import laptop from '../img/mask-laptop.webp';
import '../styles/page-work.scss';

---

<Layout pageTitle="Marina Resort Cavtat" pageSiteTitles="Web Pilots Services">

	<section id="intro">
		<div class="container top">
			<div class="flex padding-x align-middle">
				<div class="cell small-18 medium-9">
					<h1>Marina Resort Cavtat</h1>
					<p class="txt-lrg">Marina Resort Cavtat is an up and coming resort in Croatia. </p>
					<p class="justify">
						I was asked to create a multilingual registration page (full site is coming soon), which has generated over 10,000 leads internationally, to date. Astro JS was a good solution for performance, SEO, and accessibility. A Picture Component renders modern image versions. Videos have desktop and mobile versions and load using the Intersection Observer API. The forms submit to Salesforce Marketing Cloud for lead management.
					</p>
					
					<p>more......</p>
				</div>
				<div class="cell small-18 medium-9" id="devices">fsefsdfs</div>
			</div>
		</div>
	</section>

	<section id="devices-section">
		<div class="container top">
			<div class="flex padding-x align-middle">
				<div class="cell small-18">
					<h2 class="title">Devices....</h2>
					<h3 class="sub-title">XXXXXXXXX</h3>
					<p>Marina Resort Cavtat is an up and coming resort in Croatia. </p>
					<p>
						saasdasd
					</p>	


		


					<div id="devices">
		
							<div class="device mobile trig-parallax-down enable-trig" data-trig-var="true">
								<Image src={mobileMask} class="mask" alt="Mobile image mask" />
								<Image src={mobile} class="image trig-target" alt="Mobile device" />
							</div>
							<div class="device tablet">
								<Image src={tablet} class="mask" alt="Tablet image mask" />
								<Image src={mobile} class="image" alt="Tablet device" />
							</div>
							<div class="device laptop">
								<Image src={laptop} class="mask" alt="Laptop image mask" />
								<Image src={mobile} class="image" alt="Laptop device" />
						</div>
					</div>


				
				</div>
				<div class="cell small-18">gdgdfgdf</div>			
			</div>
		</div>
	</section>


	<section id="flipbook">
		<div class="container top btm">
			<div class="flex padding-x">
				<div class="cell small-18 medium-9">
					<h2 class="title">Marketing Materials</h2>
					<h2 class="sub-title">Flipbook Brochure</h2>
					<p class="txt-lrg">As part of the marketing materials to be available for the sales team, we were asked to create a Flipbook brochure for potential buyers and investors to 	 </p>

</div>
					<div class="cell small-18 medium-9"></div>
					<div class="cell small-18">	
<p class="margin-btm-lrg">
					<a 
						href="https://www.flipsnack.com/6C9F85AA9F7/marina-resort-cavtat-ebook/full-view.html" 
						target="_blank" 
						rel="noopener noreferrer"
						class="underline"
					>
						View Flipbook Brochure
					</a>
</p>

					<div class="swiper swiper-intro">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
							<Image src={flipbook1} alt="Marina Resort Cavtat Flipbook" />
							</div>
							<div class="swiper-slide">
								<Image src={flipbook2} alt="Marina Resort Cavtat Flipbook" />
							</div>
							<div class="swiper-slide">
								<Image src={flipbook3} alt="Marina Resort Cavtat Flipbook" />
							</div>
							<div class="swiper-slide">
								<Image src={flipbook4} alt="Marina Resort Cavtat Flipbook" />
							</div>
							<div class="swiper-slide">
								<Image src={flipbook5} alt="Marina Resort Cavtat Flipbook" />
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</section>

	<section id="flipbook">
	<div class="container top btm">
		<div class="flex padding-x">
			<div class="cell small-18">
	<div id="timeline">
		<video class="timeline" playsinline autoplay muted loop style="pointer-events: none;" poster="/timeline-poster-desktop.webp">
			<source data-src="/timeline-desktop.mp4" type="video/mp4" media="all and (min-width:850px)" />
			<source data-src="/timeline-mobile.mp4" type="video/mp4" media="all and (max-width:849px)" />
		</video>
	</div>
	</div>
		</div>	</div>
	</section>





</Layout>

<script src="../scripts/swiper-projects.js"></script>

<script>
	const mainVideo = document.querySelector('.timeline');
	const desktopVideo = '/timeline-desktop.mp4';
	const mobileVideo = '/timeline-mobile.mp4';
	const desktopPoster = '/timeline-poster-desktop.webp';
	const mobilePoster = '/timeline-poster-mobile.webp';
	const winWidth = window.innerWidth;

	if (mainVideo) {
		if (winWidth < 850) {
			mainVideo.setAttribute('poster', mobilePoster);
		} else {
			mainVideo.setAttribute('poster', desktopPoster);
		}
	}

	window.addEventListener('resize', function () {
		const winWidth = window.innerWidth;

		if (mainVideo) {
			if (winWidth < 850) {
				mainVideo.setAttribute('poster', mobilePoster);
				mainVideo.setAttribute('src', mobileVideo);
			} else {
				mainVideo.setAttribute('poster', desktopPoster);
				mainVideo.setAttribute('src', desktopVideo);
			}
		}
	});
</script>

